[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==5.2.3"
mypy = "==0.740"
black = "==19.10b0"
pytest-django = "==3.7.0"
pytest-pythonpath = "==0.7.3"
uritemplate = "==3.0.0"
pyyaml = "==5.2"

[packages]
lxml = "==4.4.1"
requests = "==2.22.0"
django = "==2.2.22"
djangorestframework = "==3.10.3"
django-cors-headers = "==3.2.0"
django-docketsearch = {git = "https://github.com/clsphila/django-docketsearch.git",editable = true,ref = "7831c7e7d6d2123d7e42ae682c40690a943d64f6"}
gunicorn = "==20.0.4"
aiohttp = "==4.0.0a1"
brotli = "*"
brotlipy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
